<launch>
  <group ns="lesta">
    <rosparam file="$(find lesta)/config/params.yaml" command="load" />

    <!-- Terrain Feature Extraction -->
    <include file="$(find lesta)/launch/include/feature_extraction.launch.xml" />

    <!-- Traversability Label Generation -->
    <include file="$(find lesta)/launch/include/label_generation.launch.xml" />
  </group>

</launch>