<launch>
  <!-- Parameters -->
  <rosparam file="$(find traversability_mapping)/config/params.yaml" command="load" subst_value="true" />

  <!-- Terrain Mapping -->
  <node pkg="traversability_mapping" type="traversability_mapping_node" name="traversability_mapping" output="screen" />

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz_traversability_mapping" args="-d $(find traversability_mapping)/rviz/traversability_mapping.rviz" />

  <!-- RQT -->
  <!-- <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="perspective-file $(find wavefront_planner)/rviz/rviz.perspective" /> -->
</launch>